/* ==================================================
   PERTANYAAN & GAMBAR
================================================== */

.question-number {
    color: #53dff5;
    font-size: 13px;
    font-family: monospace;
}

#judulPertanyaan {
    font-size: 22px;
    line-height: 1.4;
    margin: 15px 0 10px;
    color: #dffaff;
}

/* STYLING WADAH GAMBAR PERTANYAAN */
.question-image-box {
    width: 100%;
    margin: 15px 0;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid rgba(85, 232, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 220, 255, 0.2);
    background: #040d14;
}

.question-image-box img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    display: block;
}
